<section id="clients" class="clients section-bg">
    <div class="container">
      <div class="row">
        {{ collection:clients }}
          {{ if image }}
            {{ image }}
              <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center" data-aos="zoom-in">
                <img src="{{ url }}" class="img-fluid" alt="{{ alt }}">
              </div>
            {{ /image }}
          {{ /if }}
        {{ /collection:clients }}
      </div>
    </div>
  </section>